# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
ENV/
env/
.env

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/
*.swp
*.swo

# Project Specific
Tust-AETE/
downloads/
infra/
volume/
Data/
*.db
*.sqlite
logs/
*.log

# Antigravity/Gemini (Internal)
.gemini/
.agents/
.agent/
_agents/
_agent/
brain/
artifacts/
tmp/

#Docs
arquitetura_consolidada_tust_2026.md
